.exam-container{
    display: flex;
    /* justify-content: center; */
    align-items:center;
    flex-direction: column;
    margin-top:20px;
}
.exam-question{
    background-color: #fff;
    padding:1rem;
    /* box-shadow: 0 0 5px grey; */
    margin-top:10px;
    border-radius: 4px;
    width:400px;
}
.exam-question label{
    margin-right:20px;
}
.exam-question input{
    margin-right: 3px;
}
.exam-question .options{
    margin-top:10px;
}