.backdrop{
    background-color: rgba(0,0,0,0.9);
    height:100vh;
    overflow: auto;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.message-container{
    background-color: #fff;
    padding:20px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items:stretch;
}
.reasons-text{
    color:red;
    margin-top:15px;
}
.reason{
    margin-top: 4px;
    /* color:rgb(68, 55, 55); */
}
.heading{
    font-size: 1.1rem;
}
.message-container button{
    margin-top:15px;
    padding:5px 20px;
    border: none;
    color:#fff;
    border-radius: 24px;
    cursor: pointer;
}