.toast-container{
    position: fixed;
    bottom:10px;
    left:10px;
    width:40%;
    z-index:10;
}
.toast-container .toast-message{
    color:rgb(216, 216, 216);
    padding:10px;
    border-radius: 4px;
    margin-top:10px;
    background-color: rgba(0,0,0,0.9);
}
.exam-freeze-container{
    /* display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    color:#fff;
    padding:14px; */
}
.exam-freeze{
    position:fixed;
    top:90px;
    left:10px;
    right:10px;
    bottom:10px;
    overflow:hidden;
    border-radius: 14px;
    background-color: rgba(255,77,77);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.exam-freeze-container .exam-freeze-message{
    color:white;
    line-height: 35px;
    font-size:1.5rem;
}
.exam-freeze-container .timer{
    font-size:1.7rem;
    color:rgba(255,77,77);
    margin-top:20px;
    background-color: #fff;
    padding:10px 20px;
    border-radius: 24px;

}