body{
  background-color: #d3d3d3;
  font-family: 'Nunito', sans-serif;
}
html {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  outline: none;
}
@media print {
  html, body {
     display: none;  /* hide whole page */
  }
}
.center-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:100vh;
  width:100%;
}
.center-text p{
  margin-bottom:20px;
  font-size:1.3rem;
}
.center-text button{
  padding:10px 20px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 0 5px grey;
  border: none;
}
nav{
  /* position:fixed;
  top:0;
  left:0; */
  width:100%;
  padding:1rem 3rem;
  background-color: #fff;
  box-shadow: 0 0 10px grey;
  font-size: 1.1rem;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width:100%; */
}
nav .logo{
  font-size: 1.3rem;
}
.error-msg{
  margin-top:10px;
  text-align: center;
  font-size:0.9rem;
}
.count-items .count{
  padding:1rem;
}
.submit-btn{
  /* display: flex;
  align-items: center; */
  margin-top:10px;
  padding:5px 20px;
  border:0;
  background-color: blue;
  color:#fff;
  border-radius: 24px;
  margin-bottom:10px;
  cursor: pointer;
}
.disable-btn{
  color:grey;
  cursor:not-allowed;
  box-shadow: none !important;
}
.active-btn{
  cursor: pointer;
}